<div class="col-md-6 offset-md-3">
    <h3>Update Depot</h3>
    <form (ngSubmit) = "onSubmit()">
      <div class="form-group">
        <label>Depot Code</label>
        <input
          type="text"
          class="form-control"
          id="depotCode"
          [(ngModel)]="depot.depotCode"
          name="depotCode"
          required
        />
      </div>
  
      <div class="form-group">
        <label>Depot Name</label>
        <input
          type="text"
          class="form-control"
          id="depotDesc"
          [(ngModel)]="depot.depotDesc"
          name="depotDesc"
          required
        />
      </div>
       
      <button class="btn btn-success" type="submit">Update</button>
      <button routerLink="../depots" style="margin-left: 10px;" class='btn btn-info btn-sm delete' >BackToList</button>
    </form>
  </div>
  