<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
  <a routerLink="/" class="navbar-brand" routerLinkActive="active"> 
    <img src="../assets/img/1629986622380.jpg"  class="logo brand-image img-circle elevation-3" style="opacity: 1"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <!-- <li class="nav-item active">
        <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
      </li>
      <li class="nav-item">
        <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
      </li> -->
      

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle routerLinkActive="active" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Master
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" href="plants">Plants</a>
          <a ngbDropdownItem class="dropdown-item" href="depots">Depots</a>
          <a ngbDropdownItem class="dropdown-item" href="products">Material</a> 
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle id="dropdownSubMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Request</a>
        <ul ngbDropdownMenu aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"> 
          <!-- Level two dropdown-->
          <li class="dropdown-submenu dropdown-hover">
            <a ngbDropdownToggle id="dropdownSubMenu2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">B2B</a>
            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow"> 
             <li><a ngbDropdownItem href="b2bbg" class="dropdown-item"><i class="fa fa-bars" aria-hidden="true"></i><span> Bag</span></a></li> 
             <li><a ngbDropdownItem href="b2bbk" class="dropdown-item"><i class="fa fa-bars" aria-hidden="true"></i><span> Bulk</span></a></li>
            </ul>
          </li>
          <li class="dropdown-divider"></li> 
          <li class="dropdown-submenu dropdown-hover">
            <a ngbDropdownToggle id="dropdownSubMenu2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">AGG</a>
            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">  
              <li><a ngbDropdownItem href="agg" class="dropdown-item"><i class="fa fa-bars" aria-hidden="true"></i><span> Aggregates Request</span></a></li> 
            </ul>
          </li> 
        </ul>
      </li>

 
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Approval
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> B2B-Bag Approval</span></a>
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> B2B-Bulk Approval</span></a> 
        </div>
      </li>

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cost
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> Internal Distribution Cost</span></a>
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> Production Cost</span></a> 
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> Capex Cost</span></a>
          <li class="dropdown-divider"></li> 
          <a ngbDropdownItem class="dropdown-item" href="rates"><i class="fa fa-bars" aria-hidden="true"></i><span> Interest Rate</span></a>
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> Handling Cost</span></a>
          <a ngbDropdownItem class="dropdown-item" href="#"><i class="fa fa-bars" aria-hidden="true"></i><span> Freight Upload</span></a>
        </div>
      </li>
      

      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a ngbDropdownItem class="dropdown-item" href="#">Approved Request List</a>
          <a ngbDropdownItem class="dropdown-item" href="#">All Request-CM</a> 
          <a ngbDropdownItem class="dropdown-item" href="#">All Request-AGG</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<!-- <h1 class="text-center">{{title}}</h1> -->
<div class="container">
  <!-- <app-employee-list></app-employee-list> -->
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
      <span>Copyright © 2021-2025 <a href="https://www.lafargeholcim.com.bd"><span>www.lafargeholcim.com.bd</span></a> All rights reserved.</span>
  </div> 
</footer>