<div class="col-md-6 offset-md-3">
    <h3>Create Product</h3>
    <form (ngSubmit) = "onSubmit()">
      <div class="form-group">
        <label>Product Code</label>
        <input
          type="text"
          class="form-control"
          id="productCode"
          [(ngModel)]="product.prodCode"
          name="productCode"
          required
        />
      </div>
  
      <div class="form-group">
        <label>Product Name</label>
        <input
          type="text"
          class="form-control"
          id="productDesc"
          [(ngModel)]="product.prodDesc"
          name="productDesc"
          required
        />
      </div>

      <div class="form-group">
        <label>Product Threshold</label>
        <input
          type="text"
          class="form-control"
          id="prodThreshold"
          [(ngModel)]="product.prodThreshold"
          name="prodThreshold"
          required
        />
      </div>
       
      <button class="btn btn-success" type="submit">Update</button>
      <button routerLink="../products" style="margin-left: 10px;" class='btn btn-info btn-sm delete' >BackToList</button>
    </form>
  </div>
  